*{
    text-align: center;
}

.me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.column-flex{
    display: flex;
    flex-direction: column;

}

.container-box{
    display:flex;
}

.resume{
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.me{
    display: block;
    margin-left: auto;
    margin-right: auto;
}